@model List<TaskModel> 

<body>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2>Quadrant 1</h2>
                <table class="table-bordered">
                    <thead>
                        <tr>
                            <td>Task</td>
                            <td>Due Date</td>
                            <td>Update</td>
                            <td>Delete</ td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var task in Model.Where(x => x.Quadrant == 1 && x.Completed != true)) @*Checks to see if in Quadrant 1 and if Completed is not true*@
                        {
                            <tr>
                                <td>@task.TaskName</td>
                                <td>@task.DueDate</td>
                                <td><a class="btn btn-secondary" asp-controller="Home" asp-action="Update" asp-route-id="@task.TaskID">Update</a></td>
                                <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@task.TaskID">Delete</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <h2>Quadrant 2</h2>
                <table class="table-bordered">
                    <thead>
                        <tr>
                            <td>Task</td>
                            <td>Due Date</td>
                            <td>Update</td>
                            <td>Delete</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var task in Model.Where(x => x.Quadrant == 2 && x.Completed != true))
                        {
                            <tr>
                                <td>@task.TaskName</td>
                                <td>@task.DueDate</td>
                                <td><a class="btn btn-secondary" asp-controller="Home" asp-action="Update" asp-route-id="@task.TaskID">Update</a></td>
                                <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@task.TaskID">Delete</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h2>Quadrant 3</h2>
                <table class="table-bordered">
                    <thead>
                        <tr>
                            <td>Task</td>
                            <td>Due Date</td>
                            <td>Update</td>
                            <td>Delete</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var task in Model.Where(x => x.Quadrant == 3 && x.Completed != true))
                        {
                            <tr>
                                <td>@task.TaskName</td>
                                <td>@task.DueDate</td>
                                <td><a class="btn btn-secondary" asp-controller="Home" asp-action="Update" asp-route-id="@task.TaskID">Update</a></td>
                                <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@task.TaskID">Delete</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <h2>Quadrant 4</h2>
                <table class="table-bordered">
                    <thead>
                        <tr>
                            <td>Task</td>
                            <td>Due Date</td>
                            <td>Update</td>
                            <td>Delete</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var task in Model.Where(x => x.Quadrant == 4 && x.Completed != true))
                        {
                            <tr>
                                <td>@task.TaskName</td>
                                <td>@task.DueDate</td>
                                <td><a class="btn btn-secondary" asp-controller="Home" asp-action="Update" asp-route-id="@task.TaskID">Update</a></td>
                                <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@task.TaskID">Delete</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

